<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dtestagio"
         connectionString="Data Source=dtestagio;Persist Security Info=True;User ID=treinamento;Password=treinamento;Unicode=True;Pooling=true;Min Pool Size=5;Max Pool Size=100;"
         providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>